<div class="px-12 pb-4 flex flex-col gap-2">
    <h2 class=" text-3xl font-semibold text-amber-300">Add new task</h2>
    <form (ngSubmit)="submitForm()" class="flex flex-col gap-2">
        <input required [(ngModel)]="title" class="p-2 w-1/3 rounded-md text-neutral-100 bg-neutral-700 shadow outline-none border transition duration-200 border-neutral-700 focus:border-neutral-200" name="title" placeholder="Title">
        <textarea required [(ngModel)]="description"  class="p-2 w-4/5 rounded-md text-neutral-100 bg-neutral-700 shadow outline-none border transition duration-200 border-neutral-700 focus:border-neutral-200" name="description" placeholder="Description"></textarea>
        <button type="submit" class="w-fit px-4 text-neutral-200 bg-neutral-900 hover:bg-neutral-950 transition-all duration-200 border-neutral-600 hover:border-neutral-300 border py-2 rounded text-lg">Create task</button>
    </form>
</div>